<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Bootstrap 3, from LayoutIt!</title>

    <meta name="description" content="Source code generated using layoutit.com">
    <meta name="author" content="LayoutIt!">

    <link href="dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="dist/css/style.css" rel="stylesheet">

  </head>
  <body>

  	<div id="wrapper">
  		<nav class="navbar navbar-default" role="navigation">
			<div class="navbar-header">
					 
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
				<span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span>
				</button> <a class="navbar-brand" href="#">Bobby Good Time! Good Day!</a>
			</div>			
		</nav>
		
		<div class="main_content">
			<div class="row">
				<div class="col-md-5">
					<input type="text" class="textBox"/>
				</div>
			</div>
			<div class="row">
				<div class="col-md-5">
		

					<div class="inputDiv" id="mainDiv">
						<textarea></textarea>
					</div>

				</div>
				<div class="col-md-2">
					<div class="btnGroup">
						<button type="button" class="btn btn-default" id="beautify" toUrl="/mount">
							Mount
						</button>
					</div>	
					<div class="btnGroup">
						<button type="button" class="btn btn-default" id="beautify" toUrl="/umount">
							UMount
						</button>
					</div>	
					<div class="btnGroup">
						<button type="button" class="btn btn-default" id="beautify" toUrl="/beautify">
							Beautify
						</button>
					</div>
					<div class="btnGroup">
						<button type="button" class="btn btn-default" id="beautify" toUrl="/beautify">
							Beautify
						</button>
					</div>
					<div class="btnGroup">
						<button type="button" class="btn btn-default" id="beautify" toUrl="/beautify">
							Beautify
						</button>
					</div>	
				</div>
				<div class="col-md-5">
					
					<div class="inputDiv" id="resultDiv">
						<textarea></textarea>
					</div>
					
				</div>
			</div>
		</div>
		
		

	</div>
    <script src="dist/js/jquery.min.js"></script>
    <script src="dist/js/bootstrap.min.js"></script>
    <script src="dist/js/scripts.js"></script>
  </body>
</html>
